---
layout: default
main_title: 資料ダウンロード
type: download
---

<div class='grid-x grid-margin-x'>
{%- for item in site.data.downloads %}
  <div class="cell small-6 medium-4 card">
    <div class="card-image">
      <a href='{{ item.link | relative_url }}'>
        <img src="{{ item.link | relative_url | replace: '.html', '.png' }}">
      </a>
    </div>
    <div class="card-section">
      <h4><a href='{{ item.link | relative_url }}'>{{item.title}}</a></h4>
      <p>{{ item.content }}
    </div>
  </div>
{%- endfor %}
</div>
