---
layout: default
main_title: 株式会社クリアコード
sub_title:
type: top
---
<section class="mv">
  <ul class="slider">
{%- for service in site.data.services %}
    <li style='background-image: url({% link {{service.image}} %})'>
      <div class="inner">
        <p class="title">{{ service.name }}<span>{{ service.title }}</span></p>
        <p class="text">{{ service.content }}</p>
        <a class="btn" href="{{ service.link | relative_url }}">
          もっと見る <i class="fas fa-angle-double-right"></i>
        </a>
      </div>
    </li>
{%- endfor %}
  </ul>
</section>

<section class="about">
  <div class="inner">
    <h2>ABOUT<span>会社情報</span></h2>
    <p class="text">クリアコードは、ソフトウェアの開発を<br class="sp">専門としている会社です。<br>
    フリーソフトウェアとビジネスの両立を<br class="sp">理念としています。</p>
    <a class="btn" href="{{ "/about/" | relative_url }}">もっと見る<i class="fas fa-angle-double-right"></i></a>
  </div>
</section>

<section>
  <div class="wrap news_list grid-x align-justify">
    <div class="topic">
      <h2 class="text-center">TOPIC<span>トピック</span></h2>
      <ul>
{%- for topic in site.data.topics limit:5 %}
        <li>
          <a class="grid-x" href="{{ topic.link | relative_url }}">
            <p class="date">{{ topic.date }}</p>
            <p class="text">{{ topic.content }}</p>
          </a>
        </li>
{%- endfor %}
      </ul>

      <div class="text-center">
        <a class="btn" href="{{ "/topics/" | relative_url }}">
          もっと見る<i class="fas fa-angle-double-right"></i>
        </a>
      </div>
    </div>

    <div class="press_release">
      <h2 class="text-center">PRESS RELEASE<span>プレスリリース</span></h2>
      <ul>
{%- for press in site.data.press limit:5 %}
        <li>
          <a class="grid-x" href="{{ press.link | relative_url }}">
            <p class="date">{{ press.date }}</p>
            <p class="text">{{ press.content }}</p>
          </a>
        </li>
{%- endfor %}
      </ul>
      <div class="text-center">
        <a class="btn" href="{{ "/press-releases/" | relative_url }}">
          もっと見る <i class="fas fa-angle-double-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="bg_blue">
  <div class="inner grid-x align-justify">
    <a class="recruit" href="{{ "recruitment" | relative_url }}">
      <h2>RECRUIT<span>採用情報</span></h2>
      <img width=470 height=280 src="{% link /images/recruit.jpg %}" alt="採用情報">
    </a>
    <a class="blog" href="{{ "/blog/" | relative_url }}">
      <h2>BLOG<span>ブログ</span></h2>
      <img width=470 height=280 src="{% link /images/blog.jpg %}" alt="ブログ">
    </a>
  </div>
</section>
