---
layout: default
main_title: 本社事務所移転のお知らせ
sub_title:
type: topic
---

<p>この度、本社事務所を移転する運びとなりましたので、下記の通りご連絡いたします。</p>
<p>尚、8月22日(金)までは現住所での業務を行い、8月25日(月)から新住所にて業務を開始いたします。
<br>（電話・FAX番号も変更となりますので、お間違えの無い様よろしくお願いいたします。）</p>

<div class="following">
	<p class="following-mark">記</p>

	<p>【移転先住所】
	<br>〒170-0005　東京都豊島区南大塚3丁目29番9号　中野ビル3階
	<br>電話：03-5927-9440
	<br>FAX：03-5927-9441</p>

	<p>なお、2014年8月25日はネットワーク移設工事の為、電話・FAXが一時不通となる可能性がございます。ご面倒お掛けしますが、不通の場合はメールにてご連絡いただきますよう、よろしくお願い申し上げます。</p>
</div>

<p class="afterpiece">以上</p>
