---
layout: default
main_title: トピック
sub_title:
---

<div class='news_list'>
{%- for topic in site.data.topics %}
{% if topic.link %}
<a class='detail_link grid-x grid-padidng-x' href='{{ topic.link | relative_url }}'>
  <p class='date cell medium-2'>{{ topic.date }}</p>
  <p class='text cell medium-10'>{{ topic.content }}</p>
</a>
{% else %}
<span class='no_link grid-x grid-padidng-x'>
  <p class='date cell medium-2'>{{ topic.date }}</p>
  <p class='text cell medium-10'>{{ topic.content }}</p>
</span>
{% endif %}
{%- endfor %}
</div>
