---
layout: default
main_title: RubyKaigi Takeout 2021に代表取締役　須藤功平が登壇
sub_title:
type: press
---

<p class='press-release-subtitle-small'>
2021年9月11日 13時30分 Red Arrow – Ruby and Apache Arrow

<div class="press-release-signature">
  <p class="date">2021年9月1日</p>
  <p>株式会社クリアコード
</div>

<p>
株式会社クリアコード（本社：埼玉県所沢市、代表取締役：須藤 功平）は、RubyKaigi Takeout 2021をゴールドスポンサーとして支援します。また代表取締役　須藤功平が、2021年9月11日（土曜日）13時30分より、『Red Arrow – Ruby and Apache Arrow』というタイトルで講演することをお知らせします。

<p>
<em>【講演事前資料】</em>
<a href="{% post_url 2021-08-23-rubykaigi-takeout-2021-announce %}">{{ site.url }}{% post_url 2021-08-23-rubykaigi-takeout-2021-announce %}</a>

<h2 id='overview'>■ RubyKaigi Takeout 2021の概要</h2>

<p>
RubyKaigi Takeout 2021は、国内最大規模で開催されるRubyの国際カンファレンスです。クリアコードは、2009年の日本Ruby会議2009からRubyKaigiをスポンサーしています。
<ul>
<li>開催期間：2021年9月9日（木）-11日（土）10:00-15:25（最終日は15:00まで）</li>
<li>会場：オンライン</li>
<li>参加料：6000円</li>
<li>公式サイト：<a target='_blank' rel='noopener' href='https://rubykaigi.org/2021-takeout'>RubyKaigi Takeout 2021</a>(外部ページ)</li>
</ul>
    

<h2 id='talk'>■ 講演の概要</h2>
<table>
    <tr>
    <th>講演日時：</th><td>2021年9月11日（土）13時30分-13時55分</td>
    </tr>
    <tr>
    <th>講演タイトル：</th><td>Red Arrow – Ruby and Apache Arrow</td>
    </tr>
</table>
<p>
本講演では、Apache ArrowのオフィシャルRuby実装であるRed Arrowを使うとRubyでどのようなデータ処理をできるようになるか紹介します。Rubyだけでは高速にデータ処理できないため大規模データを扱えませんが、Red Arrowを使うと高速にデータ処理できるのでRubyでも大規模データを扱えるようになります。講演時に質疑応答も可能です。

<h2 id='about-arrow'>Apache Arrowとは</h2>

<p>
大容量のストレージ・大量のコンピューターリソースを活用することが可能になった現在では、従来は現実的でなかった大量データを処理できるようになりました。現代のデータ処理システムは複数のデータ処理モジュールを連携して構築されており、データ量の多い環境においては各モジュール間でデータ交換を効率化が必須です。この効率的なデータ交換のために設計されたデータフォーマットが「Apache Arrow」です。たとえば、従来はCSVやJSONを使っていたところをApache Arrowを使うようにすればデータ交換処理に必要なコンピューターリソースは非常に小さくなり、本来のデータ処理にコンピューターリソースを投入できます。

<p>
また、Apache Arrowフォーマットによる高速化はApache Arrowが提供する機能の1つにすぎません。Apache Arrowはメモリー上でデータ処理するために必要な一連の機能を提供します。Apache Arrowフォーマットによるデータ交換の高速化以外にも次のような機能があります。

<ul>
<li>CPU上でSIMD・JITコンパイルを使って高速にデータを処理する機能
<li>GPU上で高速にデータを処理する機能
<li>CSVやApache Parquetなど既存のデータフォーマットと相互変換する機能
<li>高速なRPC機能
</ul>
<p>
従来はこのような機能は各データ処理プロダクトで個別に実装されていましたが、Apache Arrowは各データ処理プロダクトで共有できる高速な実装を提供します。
<p>【公式ページ】<a target='_blank' rel='noopener' href='https://arrow.apache.org/'>https://arrow.apache.org/</a>(外部リンク)

<h2 id='clearcode'>クリアコードについて</h2>

<p>
クリアコードは、2006年7月にフリーソフトウェア開発者を中心に設立したソフトウェア開発会社です。

<p>
クリアコードの目的は、単に会社を継続していくことではありません。フリーソフトウェアの開発で学んだことを継続的にビジネス分野に活用していくことで会社を継続し、それと同時に、ビジネスを継続することでフリーソフトウェアへ継続的にコミットメントしていくこと、この両立の実現が当社の目的です。この理念は、我々がフリーソフトウェアの開発で学んだことがベースとなっています。

<p>
Apache Arrow、全文検索エンジンGroonga、Fluentdをはじめとしたフリーソフトウェア本体の開発、ソースコードレベルのサポート、機能拡張、導入支援を行っています。

<h2 id='contact'>当リリースに関するお問い合わせ先</h2>

<p>
株式会社クリアコード　担当：南<br>
電話：04-2907-4726<br>
メール：info@clear-code.com

<h2 id='links'>参考URL</h2>

<p>
<em>【コーポレートサイト】</em>
<a href='{% link index.html %}'>{{ site.url }}{% link index.html %}</a><br>
<em>【本プレスリリース】</em>
<a href='{{ page.url | relative_url }}'>{{ page.url | absolute_url }}</a><br>
<em>【関連サービス】</em>
<a href='{% link services/apache-arrow.md %}'>{{ site.url }}{% link services/apache-arrow.md %}</a>
<p>
<small>
Apache Arrow, the Apache Arrow project logo are either registered trademarks or trademarks of The Apache Software Foundation in the United States and other countries.（Apache Arrowの商標およびロゴはApache Software Foundationの商標です。）
</small>
